body{
	background:url(背景.jpg) left top repeat-x;
}
h2{
	position:absolute;
	left:600px;
	padding:230px 70px 300px 0;
	border-right:1px solid white;
	font-style:\534E\6587\4EFF\5B8B;
}
#denglu{
	position:absolute;
	top:130px;
	left:950px;
}
#username{
	margin-left:10px;
}
#password{
	margin-left:18px;
}
#yanzheng{
	width:60px;
	margin-left:10px;
}
#dl{
	margin-top:5px;
	margin-left:5px;
}
#quxiao{
	margin-top:5px;
	margin-left:10px;
}
#sc{
	width:60px;
	margin-left:10px;
}