@charset "utf-8";
/* CSS Document */
body,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,p,input,select,textarea,form{margin: 0; padding: 0;}
body{font:14px/1.5 "宋体";}
img{border:none;}
ul,ol{list-style:none;}
input,select,textarea{outline:none;border:none;background:none;}
textarea{resize:none;}
a{text-decoration:none;color:#666666;}

/*清浮动*/
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}
.leftArea{float:left;}
.rightArea{float:right;}
.commenwidth{width:1200px;margin-left:auto;margin-right:auto;}
.leftwidth{width:600px;}
.topMargin{margin-top:20px;}
.bottomMargin{margin-bottom:20px;}